---
// Select UI to switch between locales.
import { LOCALES, getLocalePaths } from "@/i18n";
import { Icon } from "astro-icon/components";
---

<label class="relative inline-block w-60">
  <Icon name="tabler:language" class="absolute text-primary-light dark:text-primary-dark text-3xl left-1.5 top-1.5" />
  <select data-languageSelect class="w-full text-center h-10 px-10 cursor-pointer appearance-none rounded-md text-foreground-light dark:text-foreground-dark bg-base border-2 border-foreground-light dark:border-foreground-dark focus:outline-none focus:border-primary focus:ring-1 focus:ring-primary focus:ring-opacity-50">
    {
      getLocalePaths(Astro.url).map(({ path, lang }) => (
        <option
          label={LOCALES[lang].label}
          value={path}
          data-lang={lang}
          selected={lang === Astro.currentLocale}
          dir={LOCALES[lang].dir || null}
        />
      ))
    }
  </select>
  <Icon name="tabler:chevron-down" class="absolute text-primary-light dark:text-primary-dark text-3xl right-1.5 top-1.5" />
</label>

<script is:inline>
  const selects = document.querySelectorAll("[data-languageSelect]");

  selects.forEach((select) => {
    select.addEventListener("change", (event) => {
      // used for 404 page
      localStorage.selectedLang = event.target?.selectedOptions[0].dataset.lang;
      location.href = event.target?.value;
    });
  });
</script>
