---
import { render } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getPageById } from "@models/Page";
import { getPages } from "@models/Page";

export async function getStaticPaths() {
	const pages = await getPages();
	return pages.map((page) => ({
		params: { slug: page.id },
	}));
}

const { slug } = Astro.params;

if (!slug) {
	return Astro.redirect("/404");
}

const page = await getPageById(slug);

if (!page) {
	throw new Error(`No se encontró la página: ${slug}`);
}
const { title, description } = page;
const { Content } = await render(page.entry);
---

<BaseLayout title={title} description={description}>
  <div class="prose mx-auto dark:prose-invert">
    <Content />
  </div>
</BaseLayout>
