---
import Link from "@components/Links.astro";
import ThemeToggle from "@components/ThemeToggle.astro";
import { Icon } from "astro-icon/components";
import { HeaderLinks, SITE_TITLE } from "src/site.config";
---

<header class="flex flex-wrap md:justify-start md:flex-nowrap z-50 w-full py-7">
  <nav class="relative max-w-7xl w-full flex flex-wrap md:grid md:grid-cols-12 basis-full items-center px-4 mx-auto" aria-label="Global">
    <div class="md:col-span-3">
      <a class="flex-none text-xl font-semibold text-neutral-900 hover:text-neutral-600 dark:text-neutral-400 dark:hover:text-neutral-200" href="/" aria-label="Astroverse">
        {SITE_TITLE}
      </a>
    </div>

    <div class="flex items-center gap-x-2 ms-auto py-1 md:ps-6 md:order-3 md:col-span-3">
      <button type="button" aria-label="Search" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-xl border border-transparent text-black hover:bg-neutral-100 dark:text-white dark:hover:bg-neutral-700 transition disabled:opacity-50 disabled:pointer-events-none" onclick="window.location.href='/search/'">
        <Icon name="tabler:search" class="icon-base" />
      </button>
      <ThemeToggle />

      <div class="md:hidden">
        <button id="mobile-toggle-button" type="button" aria-label="Toggle navigation" class="size-[38px] flex justify-center items-center text-sm font-semibold rounded-xl text-black hover:bg-neutral-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:bg-neutral-700">
          <Icon name="tabler:menu" id="menu-icon" class="shrink-0 size-4" />
          <Icon name="tabler:x" id="close-icon" class="shrink-0 size-4 hidden" />
        </button>
      </div>

    </div>

    <div id="navbar-collapse" class="hidden overflow-hidden transition-all duration-300 basis-full grow md:block md:w-auto md:basis-auto md:order-2 md:col-span-6">
      <div class="flex flex-col gap-y-4 gap-x-0 mt-5 md:flex-row md:justify-center md:items-center md:gap-y-0 md:gap-x-7 md:mt-0">
        {
          HeaderLinks.map((link) => (
            <Link
              href={link.href}
              class="px-4 py-3 font-medium text-neutral-900 hover:text-neutral-600 dark:text-neutral-400 dark:hover:text-neutral-200"
            >
              {link.title}
            </Link>
          ))
        }
      </div>
    </div>
  </nav>
</header>
<script is:inline>
  const toggleButton = document.getElementById('mobile-toggle-button');
  const collapseContainer = document.getElementById('navbar-collapse');
  const menuIcon = document.getElementById('menu-icon');
  const closeIcon = document.getElementById('close-icon');

  toggleButton.addEventListener('click', () => {
    collapseContainer.classList.toggle('hidden');
    menuIcon.classList.toggle('hidden');
    closeIcon.classList.toggle('hidden');
  });
</script>
