---
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"button"> {}
const { class: className, ...attrs } = Astro.props;
---

<button
  class={cn(
    "p-2 text-secondary-foreground-light hover:text-main-light dark:text-secondary-foreground-dark dark:hover:text-main-dark cursor-pointer transition-colors",
    className
  )}
    {...attrs}
>
  <slot />
</button>
