---
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;
const { href, class: className, ...attrs } = Astro.props;
---

<a href={href} {...attrs} class={cn(
  "flex justify-center items-center w-full max-w-max gap-0.5 rounded h-10 leading-none uppercase",
  "transition-colors duration-[0.35s] ease-[ease]",
  "opacity-0 animate-[toTopFadeIn_0.35s_ease_forwards] animation-delay-[0.25s]",
  "bg-main-button-bg-light hover:bg-main-button-bg-hover-light",
  "dark:bg-main-button-bg-dark dark:hover:bg-main-button-bg-hover-dark",
  "text-main-button-light dark:text-main-button-dark",
  "cursor-pointer px-5 py-3",
  className
)}>
  <slot />
</a>
