---
import { cn } from "@/lib/utils";
import type { ContentType } from "@/models/post/post.model";
import type Tag from "@/models/tag/tag.model";
import type { HTMLAttributes } from "astro/types";
import PostTag from "./PostTag.astro";
interface Props extends HTMLAttributes<"div"> {
	tags: Tag[];
	type: ContentType;
}
const { tags, type, ...attrs } = Astro.props;
---

<div class={cn("flex flex-wrap gap-2", attrs.class)}>
	{
		tags?.map((tag) => (
			<PostTag tag={tag} type={type}/>
		))
	}
</div>
