---
import AuthButton from "@atoms/AuthButton.astro";
import Link from "@components/Links.astro";
import ThemeToggle from "@components/ThemeToggle.astro";
import { HeaderLinks, SITE_TITLE } from "@configs";
import { Icon } from "astro-icon/components";
---

<header class="border-b border-zinc-100 dark:border-zinc-800 py-4 bg-zinc-50 dark:bg-zinc-900">
  <div class="container mx-auto px-4 flex items-center">
    <div class="md:hidden">
      <button id="mobile-toggle-button" type="button" aria-label="Toggle navigation" class="size-[38px] mr-1 flex justify-center items-center text-sm font-semibold rounded-xl text-black hover:bg-neutral-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:bg-neutral-700">
        <Icon name="tabler:menu" id="menu-icon" class="shrink-0 size-5" />
        <Icon name="tabler:x" id="close-icon" class="shrink-0 size-5 hidden" />
      </button>
    </div>

    <Link class="text-xl font-bold mr-8" href="/" aria-label={SITE_TITLE}>
      {SITE_TITLE}
    </Link>

    <nav class="hidden md:flex items-center space-x-8">
      {HeaderLinks.map((link) => (
        <Link href={link.href || '#'} class="hover:text-zinc-600 dark:hover:text-zinc-300">
          {link.title}
        </Link>
      ))}
    </nav>

    <div class="flex items-center space-x-4 ml-auto">
      <button type="button" aria-label="Search" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-xl border border-transparent text-black hover:bg-neutral-100 dark:text-white dark:hover:bg-neutral-700 transition disabled:opacity-50 disabled:pointer-events-none" onclick="window.location.href='/search/'">
        <Icon name="tabler:search" class="size-5" />
      </button>
      <ThemeToggle />
      <AuthButton />
    </div>
  </div>

  <!-- Mobile menu (hidden by default) -->
  <div id="navbar-collapse" class="hidden md:hidden overflow-hidden transition-all duration-300 basis-full grow md:w-auto md:basis-auto md:order-2 md:col-span-6">
    <nav class="flex flex-col gap-y-4 gap-x-0 mt-5 md:flex-row md:justify-center md:items-center md:gap-y-0 md:gap-x-7 md:mt-0">
      {HeaderLinks.map((link) => (
        <Link href={link.href || '#'} class="hover:text-zinc-600 dark:hover:text-zinc-300">
          {link.title}
        </Link>
      ))}
    </nav>
  </div>
</header>

<script is:inline>
  const toggleButton = document.getElementById('mobile-toggle-button');
  const collapseContainer = document.getElementById('navbar-collapse');
  const menuIcon = document.getElementById('menu-icon');
  const closeIcon = document.getElementById('close-icon');

  toggleButton.addEventListener('click', () => {
    collapseContainer.classList.toggle('hidden');
    menuIcon.classList.toggle('hidden');
    closeIcon.classList.toggle('hidden');
  });
</script>
