---
import "../styles/global.css";
import BaseHead from "@atoms/BaseHead.astro";
import Footer from "@components/Footer.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "@configs";
import Header from "@molecules/Header.astro";

interface Props {
	title?: string;
	description?: string;
	image?: string;
}

const {
	title = SITE_TITLE,
	description = SITE_DESCRIPTION,
	image,
} = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <BaseHead title={title} description={description} image={image}/>
  </head>
  <body class="bg-white text-black dark:bg-zinc-900 dark:text-white">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
